<% action = (type == :newuser) ? users_url : session_url %>
<% button_text = (type == :newuser) ? "Sign Up!" : "Log In" %>

<form action="<%= action %>" method="post">
    <%= auth_token %>
    <label>Username:
        <input type="text" value="<%= @user.username %>" name="user[username]">
    </label>
    <br>

    <label>Password:
        <input type="text" value="<%= @user.password %>" name="user[password]">
    </label>
    <br>

    <input type="submit" value="<%= button_text %>">
</form>