<% action = (action_type == :new) ? goals_url : goal_url(goal) %>
<% button_text = (action_type == :new) ? "New Goal" : "Update Goal" %>

<%= render 'shared/errors' %>

<form action="<%= action %>" method="post">
    <%= auth_token %>
    <% if action_type == :edit %>
        <input type="hidden" name="_method", value="PUT">
    <% end %>

    <label>Title:
        <input type="text" name="goal[title]" value="<%= goal.title %>">
    </label>
    <br>

    <label>Details:
        <textarea name="goal[detials]"><%= goal.details %></textarea>
    </label>
    <br>

    <label>Private?
        <input type="checkbox" name="goal[private]"
            <%= 'checked="true"' if goal.private %>>
    </label>
    <br>

    <label>Completed?
        <input type="checkbox" name="goal[completed]"
            <%= 'checked="true"' if goal.private %>>
    </label>
    <br>

    <input type="submit" value="<%= button_text %>">
</form>